/*BEST PRACTICES*/
/*
	-indenting properly
	-practical id and class names
	-no inline styles
	-use proficient selectores
	-use shorthand properties and values
	-group vendor prefixes
	-use a minimal amount of id's and classes
	-group common styles/use group selectors
*/

/*basic styles*/

html * {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

section, .landing {
	height: 100vh;
	min-height: 650px;
}

.flex, .fruit, .study, .coffee {
	display: flex;
}

h1, h2, .prices, .prices span, button {
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-size: 4.6rem;
	padding-bottom: .5rem;
}

h3, dt, button {
	font-weight: 700;
}

h3, .thin-sub, dt {
	font-size: 1rem;
	text-transform: uppercase;
}

p {
	font-size: 1.2rem;
	line-height: 2rem;
}

.btn {
	color: black;
	display: inline-block;
	font-size: 1.5rem;
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;

	border: 6px solid #fb8dcb;
}

/*COLS*/
 .lg-col-1-2 {
 	width: 50%;
 }

 /*SINGLE*/

 section:first-of-type, section:nth-of-type(3), section:nth-of-type(6), section:nth-of-type(5), section:first-of-type>div, section:nth-of-type(3)>div {
 	justify-content: center;
 	align-items: center;
 	
 }

 section:first-of-type>div, section:nth-of-type(3)>div, section:nth-of-type(5)>div {
 	height: 94%;
 	width: 97%;

 	border: 6px solid #8ca7f9;

 	/*justify-content: center;
 	align-content: center;*/
 	flex-direction: column;
 }

 .center {
 	text-align: center;
 	width: 45%;
 }

 .center h2 {
 	padding-bottom: .5rem; 
 }

 .center img {
 	padding-bottom: 3rem;
 }

 .center .btn {
 	margin-top: 100px;
 }

/*END*/

/*LANDING*/

h1 {
	color: #fff;
	font-size: 6.8rem;
	padding-top: .5rem;
	text-align: center;
	text-transform: uppercase;
	line-height: 5rem;
}

.head-dif {
	font-size: 3.8rem;
	line-height: 3.2rem;
}

.head-dif:last-of-type {
	font-size: 3.7rem;
}

nav li a {
	color: #fff;
	font-size: 1.3rem;
	text-decoration: none;
	

	/*border: 3px solid white;
	padding: 2rem;*/
}

.mobile-nav {
	display: none;
	background-color: #f8f8f8;
	width: 100%;
	text-align: left;
	padding-bottom: 45px;
}

.mobile-nav > ul > li {
	text-align: center;
	list-style: none;
	margin: 0 auto;
	width: 30%;
	line-height: 2rem;
}

.mobile-btn-wrapper {
	display: none;
}

.mobile-nav li:first-of-type:hover {
	background-color: #65e1c9;
}

.mobile-nav li:nth-of-type(2):hover {
	background-color: #b5dbe6;
}

.mobile-nav li:nth-of-type(3):hover {
	background-color: #fb8dcb;
}

.mobile-nav li:last-of-type:hover {
	background-color: #f8dec7;
}

.mobile-nav a {
	width: 100%;
	display: inline-block;
	color: #000;

	font-size: 1.5rem;
	text-decoration: none;
}

nav {
	/*border: 3px solid #fff;*/
	width: 105px;
	display: inline-block;

	position: fixed;
	top: 0;
	left: 0;
}

nav li {
	font-weight: 600;

	padding: 5px;
	border-bottom: 2.5px solid #fff;
	border-top: 2.5px solid #fff;
	border-left: 4px solid #fff;
	border-right: 4px solid #fff;
	/*display: inline;*/
}

.navbar-default{
    background:transparent;
    border-color:none !important;
}

nav li:first-of-type {
	border-top: 4px solid #fff;
}	

nav li:last-of-type {
	border-bottom: 4px solid #fff;
}	


nav li:hover {
	font-weight: 700;
}

nav li:first-of-type:hover {
	color: #fff;
	background-color: #65e1c9;
	border-color: #65e1c9;
}

nav li:nth-of-type(2):hover {
	color: #fff;
	background-color: #b5dbe6;
	border-color: #b5dbe6;
}

nav li:nth-of-type(3):hover {
	color: #fff;
	background-color: #fb8dcb;
	border-color: #fb8dcb;
}

nav li:last-of-type:hover {
	color: #fff;
	background-color: #f8dec7;
	border-color: #f8dec7;
}


.landing {
	background-image: url(../img/landing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero {
	text-align: center;
	margin: 0 auto;
}

.hero p {
	width: 40%;
	margin: 0 auto;
}

h1+p {
	color: #fff;
	padding-top: 3.5rem;
	line-height: 2.5rem;
	font-size: 1.6rem;
}

/*END*/

/*OUR PEOPLE*/

section:first-of-type>div, section:first-of-type .btn {
	border-color: #b5dbe6;
}

section:first-of-type .btn:hover {
	background-color: #b5dbe6;
	color: #fff;
}

/*END*/

/*OUR FRUIT*/

section:nth-of-type(2)>div:first-of-type {
	min-height: 450px;
	background-image: url(../img/fruit.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section:nth-of-type(2)>div:last-of-type div, section:nth-of-type(4)>div:first-of-type div, section:last-of-type>div:last-of-type div {
	width: 70%;
	max-width: 80%;
	text-align: left;
}

section:nth-of-type(2)>div:last-of-type img, section:nth-of-type(4)>div:first-of-type img, section:last-of-type>div:last-of-type img {
	padding-bottom: 2.5rem;
}

section:nth-of-type(2) .btn {
	border-color: #8ca7f9;
	margin-top: 50px;
}

section:nth-of-type(2) .btn:hover {
	/*border-color: ;*/
	background-color: #8ca7f9;
	color: #fff;
}

section:nth-of-type(2) div, section:nth-of-type(4) div, section:last-of-type div {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*END*/

/*OUR BEANS*/

section:nth-of-type(3)>div, section:nth-of-type(3) .btn {
	border-color: #fc8dcb;
}

section:nth-of-type(3) .btn:hover {
	background-color: #fc8dcb;
	color: #fff;
}

/*END*/

/*STUDY ZONE*/

section:nth-of-type(4)>div:last-of-type {
	min-height: 450px;
	background-image: url(../img/study-zone.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section:nth-of-type(4) .btn {
	border-color: #f9e88c;
	margin-top: 50px;
}

section:nth-of-type(4) .btn:hover {
	background-color: #f9e88c;
	color: #fff;
}

/*END*/

/*FLAVOR & EXTRAS*/

section:nth-of-type(5) .flav-title+div {
	justify-content: space-around;
}

 section:nth-of-type(5)>div {
 	/*align-content: center;*/
 	border-color: #0baaa2;
 }

.flav-title {
	padding: 3% 0 3% 6%;
}

.thin-sub {
	font-weight: 300;
}

.prices, .prices span, .description {
	font-size: 1rem;
	line-height: 1.2rem;
}

.prices, .description {
	padding-bottom: 15px;
}

.prices span {
	font-weight: 700;
	color: #0baaa2;
}

.menu .prices span {
	color: #fb8dcb;
}

.lg-col-1-2-menu {
	width: 38%;
}

dd {
	border-bottom: 2px solid #fb8dcb;
	margin-bottom: 15px;
}

/*END*/

/*MENU*/

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

section.menu {
	flex-direction: column;
}

.lg-col-1-3 {
	height: 100%;
	width: 38%;
	background-color: #fb8dcb;
}

section.menu>div, .lg-col-1-3 {
	justify-content: center;
	align-items: center;
}

#smoothies, #hot-iced, #blended, #beans {
	cursor: pointer;
}

/*#menu-area {
	width: 65%;
}*/

.menu .lg-col-1-2 {
	width: 40%;
}

#menu-area {
	overflow-y: scroll;
	height: 85%;
	width: 65%;
}

section:nth-of-type(6) {
	flex-flow: row wrap;
}

section:nth-of-type(6)>div:first-of-type {
	height: 94%;
	width: 97%;

	border: 6px solid #fb8dcb;
}

.blended .lg-col-1-2, .beans .lg-col-1-2 {
	flex-direction: column;
}

.beans div.flex {
	flex-direction: column;
}

#menu-area .favorites {
	display: inline-block;
}

#menu-area .hot-iced .lg-col-1-2:last-of-type {
	padding-top: 33px;
}

/*END*/

/*menu nav*/

button {
	font-size: 2.2rem;
	display: block;
	border: none;
	background-color: #fb8dcb;
	padding: 15px 0;
	color: #fff;
}

button:hover {
	border-bottom: 3px solid #fff;
}

button:focus {
	outline: none;
	-moz-outline:none;
	-ms-outline: none;
	-o-outline: none;
	-webkit-outline: none
}

/*TESTING MENU*/

#menu-area div {
	display: none;
}

#menu-area.smoothies .smoothies,
#menu-area.hot-iced .hot-iced,
#menu-area.blended .blended, 
#menu-area.beans .beans {
  	display: flex;
  	justify-content: space-around;
}

/*HOT AND ICED DRINK & BEANS AND THINGS EXTRA INFO*/

#menu-area .lg-col-1-2:first-of-type, #menu-area .foodies, #menu-area .beans .lg-col-1-2 {
	display: inline;
}

/*END*/

/*CONTACT*/

section:last-of-type>div:first-of-type {
	min-height: 450px;
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section:last-of-type .btn {
	margin-top: 50px;
	border-color: #f8dec7;
}

section:last-of-type .btn:hover {
	/*border-color: ;*/
	background-color: #f8dec7;
	color: #fff;
}

section:last-of-type h3 {
	padding-top: 20px;
}

address a, #phone {
	font-size: 1.2rem;
	font-style: normal;
	text-decoration: none;
	color: #000;
}

address a:hover, #phone:hover {
	color: #f8dec7;
}

address {
	padding-top: 20px;
}

/*END*/

/*ANIMATIONS*/
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 2s;
}

/*END*/

@media all and (max-width: 1376px) {

	.lg-col-1-2-menu {
		justify-content: space-around;
	}

	.child {
		width: 40%;
	}

	/*.hero {
		width: 90%;
	}*/

	.hero p {
		width: 50%;
	}

}

@media all and (max-width: 970px) {

	.lg-col-1-2-menu {
		height: auto;
	}

	.child {
		width: 45%;
	}

	button {
		font-size: 2rem;
	}

	/*.hero {
		width: 90%;
	}*/

	.hero p {
		width: 90%;
	}

}

@media all and (max-width: 830px) {

	#menu .lg-col-1-2-menu:first-of-type {
		width: 30%;
	}

	#menu .lg-col-1-2-menu:last-of-type {
		width: 60%;
	}

	.child {
		width: 45%;
	}

	.menu-nav button {
		font-size: 1.7rem;
	}

}

@media all and (max-width: 720px) {
	#menu {
		height: auto;
		margin-top: 20px;
	}

	.menu > .flex {
		flex-direction: column;
		background-color: #fb8dcb;
		border-bottom: 10px solid #fb8dcb;
	}

	.menu-nav {
		display: flex;
	}

	.menu-nav button {
		font-size: 1.2rem;
		padding: 0 15px;
	}

	.menu .lg-col-1-3,  .menu .lg-col-2-3, #menu-area{
		width: 88%;
	}

	.menu .lg-col-1-3 {
		height: 15%;
	}

	.menu .lg-col-1-2-menu:last-of-type {
		width: 100%;
	}

	#menu-area {
		background-color: #fff;
	}

	.mobile-btn-wrapper {
		display: flex;
	}

	.mobile-nav-btn {
		display: inline-block;
	}

	.mobile-nav {
		position: relative;
		top: 0;
		left: 0;
	}

	.main-nav > ul {
		display: none;
	}

	.fa {
		font-size: 2rem;
		color: #fff;
		text-align: left;
	}

	h2 {
		font-size: 2.8rem;
	}

	p {
		font-size: 1.4rem;
		line-height: 2.1rem;
	}

	.btn {
		font-size: 1.4rem;
	}

	/*LANDING*/

	h1 {
		font-size: 4.3rem;
		line-height: 3rem;
	}

	.head-dif {
		font-size: 2.5rem;
		line-height: 2rem;
	}

	.head-dif:last-of-type {
		font-size: 2.4rem;
	}

	/*.hero {
		width: 57%;
	}*/

	h1+p {
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding-top: 50px;
	}

	

	.landing div {
		padding: 20px;
	}

	/*END*/

	.center {
		width: 75%;
	}

	.center img {
		padding-bottom: 1.2rem;
	}

	.center .btn {
		margin-top: 40px;
	}

	section:nth-of-type(5) .flav-title+div {
		display: inline-block;
	}

	#menu .lg-col-1-2-menu:first-of-type, #menu .lg-col-1-2-menu:last-of-type {
		width: 75%;
		margin: 0 auto;
	}

	.child:last-of-type {
		padding-top: 32px;
	}

}	

@media all and (max-width: 480px) {
	/*GENERAL STYLES*/	

	.sm-col-1, .sm-col-1 div {
		width: 100%;
		text-align: center;
	}

	section:nth-of-type(2), section:nth-of-type(7) {
		display: block;
		height: auto;
	}

	h2 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}

	.btn {
		font-size: 1.1rem;
	}

	/*LANDING*/

	h1 {
		font-size: 3rem;
		line-height: 2.2rem;
	}

	.head-dif, .head-dif:last-of-type {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	.hero {
		width: 85%;
	}

	.landing img {
		width: 75px;
	}

	h1+p {
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding-top: 25px;
	}

	.landing nav {
		display: none;
	}

	.landing div {
		padding: 20px;
	}

	section:nth-of-type(4) {
		flex-direction: column-reverse;
		height: 70vh;
	}

	.menu .menu-nav {
		display: flex;
	}

	.menu .lg-col-1-3 {
		height: 15%;
	}

	.menu-nav button {
		font-size: .9rem;
		padding: 0 15px;
	}

	#menu-area {
		width: 85%;
		background-color: #fff;
	}

	section:nth-of-type(6)>div:first-of-type {
		background-color: #fb8dcb;
		border-bottom: 20px solid #fb8dcb;
	}

	#menu-area .hot-iced .lg-col-1-2:last-of-type {
		padding-top: 29px;
	}

	.child:last-of-type {
		padding-top: 28px;
	}

	/*END*/

	.center {
		width: 94%;
	}

	.center img {
		padding-bottom: 1rem;
	}

	.center .btn {
		margin-top: 20px;
	}
}	