/*BEST PRACTICES*/
/*
	-indenting properly
	-practical id and class names
	-no inline styles
	-use proficient selectores
	-use shorthand properties and values
	-group vendor prefixes
	-use a minimal amount of id's and classes
	-group common styles/use group selectors
*/

/*basic styles*/

html * {
  padding: 0;
  margin: 0;
  font-size: 10px;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}

section, .landing {
	height: 100vh;
	min-height: 560px;
}

.flex, .fruit, .study, .coffee {
	display: flex;
}

h1, h2, .prices, .prices span {
	font-family: 'Roboto Slab', serif;
}

h2 {
	font-size: 4.6rem;
	padding-bottom: .5rem;
}

h3, dt {
	font-weight: 700;
}

h3, .thin-sub, dt {
	font-size: 1.2rem;
	text-transform: uppercase;
}

p {
	font-size: 1.5rem;
	line-height: 2rem;
}

.btn {
	color: black;
	display: inline-block;
	font-size: 1.5rem;
	padding: 10px 15px;
	text-transform: uppercase;
	text-decoration: none;

	border: 6px solid #fb8dcb;
}

/*COLS*/
 .lg-col-1-2 {
 	width: 50%;
 }

 /*SINGLE*/

 section:first-of-type, section:nth-of-type(3), section:nth-of-type(6), section:nth-of-type(5), section:first-of-type>div, section:nth-of-type(3)>div {
 	justify-content: center;
 	align-items: center;
 	
 }

 section:first-of-type>div, section:nth-of-type(3)>div, section:nth-of-type(5)>div {
 	height: 94%;
 	width: 97%;

 	border: 6px solid #8ca7f9;

 	/*justify-content: center;
 	align-content: center;*/
 	flex-direction: column;
 }

 .center {
 	text-align: center;
 	width: 45%;
 }

 .center h2 {
 	padding-bottom: .5rem; 
 }

 .center img {
 	padding-bottom: 3rem;
 }

 .center .btn {
 	margin-top: 100px;
 }

/*END*/

/*LANDING*/

h1 {
	color: #fff;
	font-size: 6.8rem;
	padding-top: .5rem;
	text-align: center;
	text-transform: uppercase;
	line-height: 5rem;
}

.head-dif {
	font-size: 3.8rem;
	line-height: 3.2rem;
}

.head-dif:last-of-type {
	font-size: 3.7rem;
}

nav li a {
	color: #fff;
	font-size: 1.3rem;
	text-decoration: none;
	

	/*border: 3px solid white;
	padding: 2rem;*/
}

nav {
	/*border: 3px solid #fff;*/
	width: 115px;
	display: inline-block;

	position: fixed;
	top: 0;
	left: 0;
}

nav li {
	font-weight: 600;

	padding: 8px;
	border-bottom: 2.5px solid #fff;
	border-top: 2.5px solid #fff;
	border-left: 4px solid #fff;
	border-right: 4px solid #fff;
	/*display: inline;*/
}

nav li:first-of-type {
	border-top: 4px solid #fff;
}	

nav li:last-of-type {
	border-bottom: 4px solid #fff;
}	


nav li:hover {
	font-weight: 700;
}

nav li:first-of-type:hover {
	color: #fff;
	background-color: #65e1c9;
	border-color: #65e1c9;
}

nav li:nth-of-type(2):hover {
	color: #fff;
	background-color: #b5dbe6;
	border-color: #b5dbe6;
}

nav li:nth-of-type(3):hover {
	color: #fff;
	background-color: #65e1c9;
	border-color: #65e1c9;
}

nav li:last-of-type:hover {
	color: #fff;
	background-color: #f8dec7;
	border-color: #f8dec7;
}


.landing {
	background-image: url(../img/landing.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

header div {
	text-align: center;
	margin: 0 auto;
	width: 40%;
}

h1+p {
	color: #fff;
	padding-top: 3.5rem;
	line-height: 2.5rem;
	font-size: 1.6rem;
}

/*END*/

/*OUR PEOPLE*/

section:first-of-type>div, section:first-of-type .btn {
	border-color: #b5dbe6;
}

section:first-of-type .btn:hover {
	background-color: #b5dbe6;
	color: #fff;
}

/*END*/

/*OUR FRUIT*/

section:nth-of-type(2)>div:first-of-type {
	background-image: url(../img/fruit.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section:nth-of-type(2)>div:last-of-type div, section:nth-of-type(4)>div:first-of-type div, section:last-of-type>div:last-of-type div {
	width: 70%;
	max-width: 80%;
	text-align: left;
}

section:nth-of-type(2)>div:last-of-type img, section:nth-of-type(4)>div:first-of-type img, section:last-of-type>div:last-of-type img {
	padding-bottom: 2.5rem;
}

section:nth-of-type(2) .btn {
	border-color: #8ca7f9;
	margin-top: 50px;
}

section:nth-of-type(2) .btn:hover {
	/*border-color: ;*/
	background-color: #8ca7f9;
	color: #fff;
}

section:nth-of-type(2) div, section:nth-of-type(4) div, section:last-of-type div {
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/*END*/

/*OUR BEANS*/

section:nth-of-type(3)>div, section:nth-of-type(3) .btn {
	border-color: #fc8dcb;
}

section:nth-of-type(3) .btn:hover {
	background-color: #fc8dcb;
	color: #fff;
}

/*END*/

/*STUDY ZONE*/

section:nth-of-type(4)>div:last-of-type {
	background-image: url(../img/study-zone.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section:nth-of-type(4) .btn {
	border-color: #f9e88c;
	margin-top: 50px;
}

section:nth-of-type(4) .btn:hover {
	background-color: #f9e88c;
	color: #fff;
}

/*END*/

/*FLAVOR & EXTRAS*/

section:nth-of-type(5) h2+div {
	justify-content: space-around;
}

 section:nth-of-type(5)>div {
 	/*align-content: center;*/
 	border-color: #0baaa2;
 }

/*section:nth-of-type(5)>div>div {
	width: 95%;
}*/

.thin-sub {
	font-weight: 300;
}

.prices, .prices span, .description {
	font-size: 1.1rem;
	line-height: 1.4rem;
}

.prices, .description {
	padding-bottom: 15px;
}

.prices span {
	font-weight: 700;
	color: #0baaa2;
}

.lg-col-1-2-menu {
	width: 38%;
}

/*END*/

/*MENU*/

section.menu {
	flex-direction: column;
}

.lg-col-1-3 {
	width: 30%;
}

#menu-area {
	width: 65%;
}

.menu .lg-col-1-2 {
	width: 45%
}

#smoothies {
	justify-content: space-around;
/*	align-content: flex-start;*/
/*	overflow-y: scroll;*/
}

section:nth-of-type(6) {
	flex-flow: row wrap;
}

section:nth-of-type(6)>div:first-of-type {
	height: 94%;
	width: 97%;

	border: 6px solid #fb8dcb;
}

/*END*/

/*TESTING MENU*/

#menu-area div {
	display: none;
}

#menu-area.smoothies .smoothies,
#menu-area.hot-iced .hot-iced,
#menu-area.blended .blended, 
#menu-area.beans .beans {
  display: inline-block;
}

/*CONTACT*/

section:last-of-type>div:first-of-type {
	background-image: url(../img/contact.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section:last-of-type .btn {
	margin-top: 50px;
	border-color: #f8dec7;
}

section:last-of-type .btn:hover {
	/*border-color: ;*/
	background-color: #f8dec7;
	color: #fff;
}

/*END*/

/*ANIMATIONS*/
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  animation-duration: 2s;
}

/*END*/

@media all and (max-width: 720px) {

	h2 {
		font-size: 2.8rem;
	}

	p {
		font-size: 1.4rem;
		line-height: 2.1rem;
	}

	.btn {
		font-size: 1.4rem;
	}

	/*LANDING*/

	h1 {
		font-size: 4.3rem;
		line-height: 3rem;
	}

	.head-dif {
		font-size: 2.5rem;
		line-height: 2rem;
	}

	.head-dif:last-of-type {
		font-size: 2.4rem;
	}

	header div {
		width: 57%;
	}

	h1+p {
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding-top: 50px;
	}

	.landing nav {
		display: none;
	}

	.landing div {
		padding-top: 45px;
	}

	/*END*/

	.center {
		width: 75%;
	}

	.center img {
		padding-bottom: 1.2rem;
	}

	.center .btn {
		margin-top: 40px;
	}

}	

@media all and (max-width: 480px) {
	/*GENERAL STYLES*/

	.sm-col-1, .flex {
		width: 100%;

		flex-direction: row;

		min-height: 326px;
	}

	h2 {
		font-size: 2.5rem;
	}

	p {
		font-size: 1.1rem;
		line-height: 1.8rem;
	}

	.btn {
		font-size: 1.1rem;
	}

	/*LANDING*/

	h1 {
		font-size: 3rem;
		line-height: 2.2rem;
	}

	.head-dif, .head-dif:last-of-type {
		font-size: 1.8rem;
		line-height: 2rem;
	}

	header div {
		width: 85%;
	}

	.landing img {
		width: 75px;
	}

	h1+p {
		font-size: 1.2rem;
		line-height: 1.8rem;
		padding-top: 25px;
	}

	.landing nav {
		display: none;
	}

	.landing div {
		padding-top: 50px;
	}

	/*END*/

	.center {
		width: 94%;
	}

	.center img {
		padding-bottom: 1rem;
	}

	.center .btn {
		margin-top: 20px;
	}
}	